# Node.js dependencies (for the backend)
backend/node_modules/

# Build directories (frontend, backend)
frontend/node_modules/
backend/build/

# Docker image and container data
frontend/.docker
backend/.docker
database/.docker

# Docker Compose settings and logs
docker-compose.override.yml
docker-compose*.log

# Jenkins build files
*.jenkins
*.log

# OS-specific files
.DS_Store      # macOS
Thumbs.db      # Windows

# IDE/Editor settings
.vscode/
.idea/

# Logs and temporary files
*.log
*.tmp

